/* Navigation Base */
.nav-items {
  display: none;
  flex-direction: column;
  position: fixed;
  background-color: white;
  height: 100vh;
  width: 250px;
  top: 0;
  right: 0;
  padding: 20px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

/* Open state */
nav.open {
  display: flex;
}

/* Hide menu button on large screens */
@media screen and (min-width: 768px) {
  #menu-button {
    display: none;
  }
  .nav-items {
    display: flex;
    position: static;
    flex-direction: row;
    box-shadow: none;
    height: auto;
    width: auto;
  }
  #menu-close {
    display: none;
  }
}
